<configuration scan="true" scanPeriod="10 seconds">

	<!--  protocol logger -->
    <appender name="proto.appender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%msg%n</pattern>
        </encoder>
        <level value="INFO"/>
    </appender>

    <logger name="protocol" additivity="false">
        <appender-ref ref="proto.appender"/>
    </logger>


	<!-- various overrides to avoid noise :) -->
    <logger name="org.apache" level="WARN"/>
    <logger name="org.eclipse" level="WARN"/>
    <logger name="com.barchart" level="WARN"/>
    <logger name="org.littleshoot" level="WARN"/>
    <logger name="io.netty.logging" level="WARN"/>
    <logger name="com.msnos.proxy" level="DEBUG"/>


	<!--  main logger -->
    <appender name="main.appender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%-2(%d{dd MMM yyyy HH:mm:ss.SSS}) | %class{0}: %method{20} - %msg%n</pattern>
        </encoder>
        <level value="INFO"/>
    </appender>

    <root>
		<appender-ref ref="main.appender"/>
    </root>

</configuration>